<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/dg_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dg_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DamgomEscape"
        tools:targetApi="31">
        <activity
            android:name=".exit"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".livingroom"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".arcade"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".movieroom"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".recordingroom"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pbtemp"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bedroom"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start_page"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>